/* .header-section{
  height: 100vh;
  background: linear-gradient(
    to right,
    #08aaa6 0%,
    #08aaa6 50%,
    white 50%,
    white 50%
  );
} */

.menu-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 112px;
  top: calc(50% - 36px / 2);
  gap: 24px;
  font-weight: bold;
  font-size: 14px;
  line-height: 34px;
  padding: 0px 16px;
}
ul .log-in{
  background-color: #08aaa6;
  width: 50px;
  text-align: center;
  border-radius: 10px;
}
ul .log-in-link{
  color: #fff !important;
}
ul .log-in:hover {
  opacity: 50%;
  transition: 0.3s;
}
ul .log-in-link:hover{
  color: #fff !important;
}
ul li a {
  color: #374151 !important;
  text-decoration: none;
}
ul li a:hover {
  color: #08aaa6 !important;
}
.header{
  padding-top: 50px;
}
.header h1 {
  font-weight: bold;
  text-transform: capitalize;
}
.header p{
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 450;
}
.header .bigTruck{
  width: 600px;
  height: 600px;

}